#!/usr/bin/env sh

WORKSPACE=${HOME}/workspace/bizapps/htd/multipass-dev-box
APP_CODE=/bizapps/resource-management
doc_up(){


echo "**************************************Updating apt update  *******************************"
apt-get update -y
echo "**************************************Installing docker  *******************************"
apt install -y docker.io
echo "**************************************Installing docker-compose *******************************"
sudo apt install -y docker-compose
echo "**************************************Starting Config changes *******************************"

DOCKER_FILE=$APP_CODE/nodejs/Dockerfile

echo DB_PORT=3306 > $APP_CODE/.env
echo DB_DATABASE=forge >> $APP_CODE/.env
echo DB_USERNAME=root >> $APP_CODE/.env
echo DB_PASSWORD=RMT_MYSQL_DB_PASSWORD >> $APP_CODE/.env
echo MYSQL_ROOT_PASSWORD=RMT_MYSQL_DB_PASSWORD >> $APP_CODE/.env
echo DB_HOST=localhost >> $APP_CODE/.env

sed -i '' "s/COPY/#COPY/g" $DOCKER_FILE

echo "**************************************Starting docker-compose up *******************************"

cd $APP_CODE && sudo docker-compose up -d && sudo docker-compose exec app php artisan key:generate

echo "************************************** Software and application deployment done *******************************"

echo "PRE_APP_CODE=$APP_CODE" > /tmp/preapp.sh

}
doc_down(){
echo "**************************************Starting docker-compose down*******************************"
source /tmp/preapp.sh
cd $APP_CODE && sudo docker-compose down

cd $PRE_APP_CODE && sudo docker-compose down

#echo "export PRE_APP_CODE=/bizapps/resource-management" >/tmp/.preapp
}





###################################
# Main Script Logic Starts Here   #
###################################

case "$1" in
        down)
                doc_down
                ;;

        up)
                doc_up
                ;;
        *)
                echo " "
                ;;
esac
