#!/usr/bin/env sh

WORKSPACE=${HOME}/workspace/bizapps/htd/infrastructure-as-code
APP_CODE=/bizapps/sales-insights

doc_up(){
echo "**************************************Updating apt update  *******************************"
apt-get update -y
echo "**************************************Installing docker  *******************************"

apt install -y docker.io
echo "**************************************Installing docker-compose *******************************"
sudo apt install -y docker-compose
echo "**************************************Starting Config changes *******************************"
echo MSSQL_DB_PASSWORD=SALESINSIGHTS_MYSQL_DB_PASSWORD > $APP_CODE/.env
echo MSSQL_DB_USER=SA >> $APP_CODE/.env


echo "**************************************Starting docker-compose build *******************************"
cd $APP_CODE && sudo docker-compose build
echo "**************************************Starting docker-compose up *******************************"
cd $APP_CODE && sudo docker-compose up -d

echo "************************************** Software and application deployment done *******************************"

echo "PRE_APP_CODE=$APP_CODE" > /tmp/preapp.sh
}


doc_down ()
{
echo "**************************************   Starting docker-compose down  *******************************"
[ -f ${APP_CODE}/docker-compose.yaml ] &&  cd $APP_CODE && sudo docker-compose down ||  echo "${APP_CODE}/docker-compose.yaml file does not exist!"

#[ -f /etc/resolv.conf ] && echo "$FILE exist" || echo "$FILE does not exist"
}
pre_app (){

echo "**************************************   Starting docker-compose down pre-app  *******************************"
[ -f /tmp/preapp.sh ]  || ( echo "/tmp/preapp.sh file does not exist!" && exit 0 ) && . /tmp/preapp.sh

[ -z "$PRE_APP_CODE" ] && ( echo "$PRE_APP_CODE not set" ; exit 1 ) || echo "$PRE_APP_CODE"

if [ "$APP_CODE" -ef "$PRE_APP_CODE" ]; then
  echo "previous App and current App both are same"
  exit 0
fi
[ -f ${PRE_APP_CODE}/docker-compose.yaml ] || echo "${PRE_APP_CODE}/docker-compose.yaml file does not exist!" && ( cd $PRE_APP_CODE && sudo docker-compose down )

}

###################################
# Main Script Logic Starts Here   #
###################################

case "$1" in
        down)
                doc_down
                pre_app
                ;;

        up)
                doc_up
                ;;
        *)
                echo " "
                ;;
esac
