DEFAULT_PROVIDER=
PROVIDERS_OIDC_ISSUER_URL=
PROVIDERS_OIDC_CLIENT_ID=
PROVIDERS_OIDC_CLIENT_SECRET=
TEMP_VALUE1=
CLIENT_ID=
CLIENT_SECRET=
SCOPES=email openid profile
AUTHORIZATION_URL=
TOKEN_URL=
USERINFO_URL=
SIGN_OUT_URL=
REDIRECT_URI=
TEMP_VALUE=
